body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background: #003366;
    color: #fff;;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;

}

nav a{
    color: #fff;
    margin-left: 15px;
    text-decoration: none;
}

.hero {
    background: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e') no-repeat center/cover;
    color: #fff;
    text-align: center;
    padding: 60px 20px;
  }
  

.hero button{
    padding: 10px 20px;
    background: #003366;
    color: #fff;
    border: none;
    cursor: pointer;
}

.destination, .service, .contact{
    padding: 20px;
    text-align: center;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    margin-top: 10px;
}

.card{
    background: #f4f4f4;
    padding: 20px;
    border: 1px solid #ccc;
}

.service ul{
    list-style: square inside;
    padding: 0;
}

.contact form{
    display:flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: auto;
}

.contact input, .contact textarea{
    padding: 10px;
    border: 1px solid #ccc;
}

.contact button{
    padding: 10px;
    background: #003366;
    color: #fff;
    border: none;
}

footer{
    background: #003366;
    color: #fff;
    text-align: center;
    padding: 10px;
}